.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.width-100 {
  width: 100%;
}
.testimonials {
  padding: 30px;
  box-sizing: border-box;
  background-image: url("./../images/contact-bg.jpg");
  text-align: center;
}
.testimonials-header {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
}
.testimonial {
  background-color: rgb(246, 246, 246);
  width: 340px;
  padding: 20px;
  border-radius: 6px;

  box-sizing: border-box;
}
.testimonial-name {
  font-size: 20px;
  font-weight: 500;
  margin-top: 4px;
}
